name = "session-record-service"
compatibility_date = "2024-02-19"
main = "./.svelte-kit/cloudflare/index.js"
workers_dev = true

[env.dev]
name = "session-record-service-dev"
routes = [{ pattern = "session-record-dev.firmly.com", custom_domain = true }]

[[env.dev.r2_buckets]]
binding = "SESSION_RECORDINGS"
bucket_name = "session-recordings-dev"

[[env.dev.kv_namespaces]]
binding = "SESSION_METADATA"
id = "dev_session_metadata"

[env.ci]
name = "session-record-service-ci"
routes = [{ pattern = "session-record-ci.firmly.com", custom_domain = true }]

[[env.ci.r2_buckets]]
binding = "SESSION_RECORDINGS"
bucket_name = "session-recordings-ci"

[[env.ci.kv_namespaces]]
binding = "SESSION_METADATA"
id = "ci_session_metadata"

[env.qa]
name = "session-record-service-qa"
routes = [{ pattern = "session-record-qa.firmly.com", custom_domain = true }]

[[env.qa.r2_buckets]]
binding = "SESSION_RECORDINGS"
bucket_name = "session-recordings-qa"

[[env.qa.kv_namespaces]]
binding = "SESSION_METADATA"
id = "qa_session_metadata"

[env.uat]
name = "session-record-service-uat"
routes = [{ pattern = "session-record-uat.firmly.com", custom_domain = true }]

[[env.uat.r2_buckets]]
binding = "SESSION_RECORDINGS"
bucket_name = "session-recordings-uat"

[[env.uat.kv_namespaces]]
binding = "SESSION_METADATA"
id = "uat_session_metadata"

[env.prod]
name = "session-record-service-prod"
routes = [{ pattern = "session-record.firmly.com", custom_domain = true }]

[[env.prod.r2_buckets]]
binding = "SESSION_RECORDINGS"
bucket_name = "session-recordings-prod"

[[env.prod.kv_namespaces]]
binding = "SESSION_METADATA"
id = "prod_session_metadata"
