@import 'https://fonts.googleapis.com/css?family=Inter';
@import 'tailwindcss';
@plugin 'flowbite/plugin';

@theme {
	--color-fy-primary: var(--fy-primary);
	--color-fy-on-primary: var(--fy-on-primary);
	--color-fy-on-primary-subtle: var(--fy-on-primary-subtle);
	--color-fy-action: var(--fy-action);
	--color-fy-on-action: var(--fy-on-action);
	--color-fy-background: var(--fy-background);
	--color-fy-on-background: var(--fy-on-background);
	--color-fy-surface: var(--fy-surface);
	--color-fy-surface-subtle: var(--fy-surface-subtle);
	--color-fy-on-surface: var(--fy-on-surface);
	--color-fy-on-surface-subtle: var(--fy-on-surface-subtle);
	--color-fy-alert: var(--fy-alert);
	--color-fy-on-alert: var(--fy-on-alert);
	--color-fy-form-element-input-focus: var(--fy-form-element-input-focus);
	--color-fy-form-element-input-error: var(--fy-form-element-input-error);
	--color-fy-on-primary-subtle2: var(--fy-on-primary-subtle2);
	--color-fy-on-primary-accent: var(--fy-on-primary-accent);
}

hr {
	color: var(--fy-on-primary-subtle2);
}

html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: 'Inter';

	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

body {
	min-width: 320px;
}

:root {
	--fy-primary: white;
	--fy-on-primary: black;
	--fy-on-primary-subtle: #a2a2a2;
	--fy-on-primary-subtle2: #e0e0e0;
	--fy-on-primary-accent: #ff79e3;

	--fy-action: #4c7cec;
	--fy-on-action: white;

	--fy-background: white;
	--fy-on-background: black;

	--fy-surface: white;
	--fy-surface-subtle: #f7f7f7;
	--fy-on-surface: black;
	--fy-on-surface-subtle: #1a1a1ab3;

	--fy-surface-box-shadow:
		0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);
	--fy-form-element-input-focus:
		rgba(50, 151, 211, 0.3) 0px 0px 0px 1px, rgba(0, 0, 0, 0.07) 0px 1px 1px 0px,
		rgba(50, 151, 211, 0.3) 0px 0px 0px 4px;
	--fy-form-element-input-error:
		0 0 0 1px #ef9896, 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);

	--fy-alert: red;
	--fy-on-alert: white;

	--fy-background-disabled: #a3a3a3;
	--fy-color-disabled: #e0e0e0;

	font-family: Inter;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root .light {
	--fy-primary: white;
	--fy-primary-pay-button: var(--fy-primary);
	--fy-primary-pay-button-text: var(--fy-on-primary);
	--fy-on-primary: black;
	--fy-on-primary-subtle: #a2a2a2;
	--fy-on-primary-subtle2: #e0e0e0;

	--fy-background: white;
	--fy-on-background: black;

	--fy-surface: white;
	--fy-on-surface: black;
	--fy-on-surface-subtle: #1a1a1ab3;

	--fy-surface-box-shadow:
		0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);
	--fy-form-element-input-focus:
		rgba(50, 151, 211, 0.3) 0px 0px 0px 1px, rgba(0, 0, 0, 0.07) 0px 1px 1px 0px,
		rgba(50, 151, 211, 0.3) 0px 0px 0px 4px;
	--fy-form-element-input-error:
		0 0 0 1px #ef9896, 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);

	--fy-alert: red;
	--fy-on-alert: white;

	--fy-on-action-subtle: #e2e8ef;

	font-family: Inter;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root .adoreme-dark {
	--fy-primary: #550c46;
	--fy-primary-pay-button: var(--fy-primary);
	--fy-primary-pay-button-text: var(--fy-on-primary);
	--fy-on-primary: white;
	--fy-on-primary-subtle: hsl(0, 0%, 64%);

	--fy-action: #550c46;

	--fy-background: white;
	--fy-on-background: black;
	--fy-surface: white;
	--fy-on-surface: black;

	--fy-alert: red;
	--fy-on-alert: white;
}

:root .adoreme-light {
	--fy-primary: #faeeeb;
	--fy-primary-pay-button: var(--fy-primary);
	--fy-primary-pay-button-text: var(--fy-on-primary);
	--fy-on-primary: black;
	--fy-on-primary-subtle: #a2a2a2;

	--fy-background: white;
	--fy-on-background: black;
	--fy-surface: white;
	--fy-on-surface: black;

	--fy-alert: red;
	--fy-on-alert: white;
}

:root .red {
	--fy-primary: #a60000;
	--fy-primary-pay-button: var(--fy-primary);
	--fy-primary-pay-button-text: var(--fy-on-primary);
	--fy-on-primary: white;
	--fy-on-primary-subtle: #a2a2a2;

	--fy-background: white;
	--fy-on-background: black;
	--fy-surface: white;
	--fy-on-surface: black;

	--fy-alert: red;
	--fy-on-alert: white;
}

.ov-gradient-to-b-primary::before {
	@apply from-fy-primary bg-gradient-to-b to-transparent;
	content: '';
	height: 0.5rem;
	position: absolute;
	left: 0;
	right: 0;
}

.ov-gradient-to-t-primary::after {
	@apply from-fy-primary bg-gradient-to-t to-transparent;
	content: '';
	height: 0.5rem;
	position: absolute;
	left: 0;
	right: 0;
	margin-top: -0.5rem;
}

.ov-gradient-to-r-primary::before {
	@apply from-fy-primary bg-gradient-to-r to-transparent;
	content: '';
	width: 0.5rem;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
}

.ov-gradient-to-l-primary::after {
	@apply from-fy-primary bg-gradient-to-l to-transparent;
	content: '';
	width: 0.5rem;
	/* height: 100%; */
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

.ov-gradient-y-primary {
	@apply ov-gradient-to-b-primary ov-gradient-to-t-primary;
}

.ov-gradient-x-primary {
	@apply ov-gradient-to-r-primary ov-gradient-to-l-primary;
}
