@import 'https://fonts.googleapis.com/css?family=Inter&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap';
@import 'tailwindcss';
@plugin 'flowbite/plugin';

@theme {
	--color-fy-primary: white;
	--color-fy-on-primary: black;
	--color-fy-on-primary-subtle: #a2a2a2;
	--color-fy-on-primary-subtle2: #e0e0e0;
	--color-fy-on-primary-accent: #ff79e3;

	--color-fy-action: #4c7cec;
	--color-fy-on-action: white;

	--color-fy-background: white;
	--color-fy-on-background: black;

	--color-fy-surface: white;
	--color-fy-surface-subtle: #f7f7f7;
	--color-fy-on-surface: black;
	--color-fy-on-surface-subtle: #1a1a1ab3;

	--color-fy-form-element-input-focus:
		rgba(50, 151, 211, 0.3) 0px 0px 0px 1px, rgba(0, 0, 0, 0.07) 0px 1px 1px 0px,
		rgba(50, 151, 211, 0.3) 0px 0px 0px 4px;
	--color-fy-form-element-input-error:
		0 0 0 1px #ef9896, 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);

	--color-fy-alert: red;
	--color-fy-on-alert: white;

	--color-fy-background-disabled: #a3a3a3;
	--color-fy-color-disabled: #e0e0e0;
}

hr {
	color: var(--color-fy-on-primary-subtle2);
}

html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: 'Inter';

	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

body {
	min-width: 320px;
}

button {
	cursor: pointer;
}

:root {
	--color-fy-primary: white;
	--color-fy-on-primary: black;
	--color-fy-on-primary-subtle: #a2a2a2;
	--color-fy-on-primary-subtle2: #e0e0e0;
	--color-fy-on-primary-accent: #ff79e3;

	--color-fy-action: #4c7cec;
	--color-fy-on-action: white;

	--color-fy-background: white;
	--color-fy-on-background: black;

	--color-fy-surface: white;
	--color-fy-surface-subtle: #f7f7f7;
	--color-fy-on-surface: black;
	--color-fy-on-surface-subtle: #1a1a1ab3;

	--fy-surface-box-shadow:
		0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);
	--color-fy-form-element-input-focus:
		rgba(50, 151, 211, 0.3) 0px 0px 0px 1px, rgba(0, 0, 0, 0.07) 0px 1px 1px 0px,
		rgba(50, 151, 211, 0.3) 0px 0px 0px 4px;
	--color-fy-form-element-input-error:
		0 0 0 1px #ef9896, 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);

	--color-fy-alert: red;
	--color-fy-on-alert: white;

	--color-fy-background-disabled: #a3a3a3;
	--color-fy-color-disabled: #e0e0e0;

	font-family: Inter;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root .light {
	--color-fy-primary: white;
	--color-fy-primary-pay-button: var(--color-fy-primary);
	--color-fy-primary-pay-button-text: var(--color-fy-on-primary);
	--color-fy-on-primary: black;
	--color-fy-on-primary-subtle: #a2a2a2;
	--color-fy-on-primary-subtle2: #e0e0e0;

	--color-fy-background: white;
	--color-fy-on-background: black;

	--color-fy-surface: white;
	--color-fy-on-surface: black;
	--color-fy-on-surface-subtle: #1a1a1ab3;

	--fy-surface-box-shadow:
		0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);
	--color-fy-form-element-input-focus:
		rgba(50, 151, 211, 0.3) 0px 0px 0px 1px, rgba(0, 0, 0, 0.07) 0px 1px 1px 0px,
		rgba(50, 151, 211, 0.3) 0px 0px 0px 4px;
	--color-fy-form-element-input-error:
		0 0 0 1px #ef9896, 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);

	--color-fy-alert: red;
	--color-fy-on-alert: white;

	--color-fy-on-action-subtle: #e2e8ef;

	font-family: Inter;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root .adoreme-dark {
	--color-fy-primary: #550c46;
	--color-fy-primary-pay-button: var(--color-fy-primary);
	--color-fy-primary-pay-button-text: var(--color-fy-on-primary);
	--color-fy-on-primary: white;
	--color-fy-on-primary-subtle: hsl(0, 0%, 64%);

	--color-fy-action: #550c46;

	--color-fy-background: white;
	--color-fy-on-background: black;
	--color-fy-surface: white;
	--color-fy-on-surface: black;

	--color-fy-alert: red;
	--color-fy-on-alert: white;
}

.font-josefin {
	font-family: 'Josefin Sans', sans-serif;
}

:root .adoreme-light {
	--color-fy-primary: #faeeeb;
	--color-fy-primary-pay-button: var(--color-fy-primary);
	--color-fy-primary-pay-button-text: var(--color-fy-on-primary);
	--color-fy-on-primary: black;
	--color-fy-on-primary-subtle: #a2a2a2;

	--color-fy-background: white;
	--color-fy-on-background: black;
	--color-fy-surface: white;
	--color-fy-on-surface: black;

	--color-fy-alert: red;
	--color-fy-on-alert: white;
}

:root .red {
	--color-fy-primary: #a60000;
	--color-fy-primary-pay-button: var(--color-fy-primary);
	--color-fy-primary-pay-button-text: var(--color-fy-on-primary);
	--color-fy-on-primary: white;
	--color-fy-on-primary-subtle: #a2a2a2;

	--color-fy-background: white;
	--color-fy-on-background: black;
	--color-fy-surface: white;
	--color-fy-on-surface: black;

	--color-fy-alert: red;
	--color-fy-on-alert: white;
}
