@import 'https://fonts.googleapis.com/css?family=Inter';

:root {
	// Default Theme
	--fy-primary: white;
	--fy-on-primary: black;
	--fy-on-primary-subtle: #a2a2a2;
	--fy-on-primary-subtle2: #e0e0e0;
	--fy-on-primary-accent: #ff79e3;

	--fy-action: #4c7cec;
	--fy-on-action: white;

	--fy-background: white;
	--fy-on-background: black;

	--fy-surface: white;
	--fy-surface-subtle: #f7f7f7;
	--fy-on-surface: black;
	--fy-on-surface-subtle: #1a1a1ab3;

	--fy-surface-box-shadow:
		0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);
	--fy-form-element-input-focus:
		rgba(50, 151, 211, 0.3) 0px 0px 0px 1px, rgba(0, 0, 0, 0.07) 0px 1px 1px 0px,
		rgba(50, 151, 211, 0.3) 0px 0px 0px 4px;
	--fy-form-element-input-error:
		0 0 0 1px #ef9896, 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);

	--fy-alert: red;
	--fy-on-alert: white;

	--fy-background-disabled: #a3a3a3;
	--fy-color-disabled: #e0e0e0;

	font-family: Inter;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root .light {
	// Default Theme
	--fy-primary: white;
	--fy-primary-pay-button: var(--fy-primary);
	--fy-primary-pay-button-text: var(--fy-on-primary);
	--fy-on-primary: black;
	--fy-on-primary-subtle: #a2a2a2;
	--fy-on-primary-subtle2: #e0e0e0;

	--fy-background: white;
	--fy-on-background: black;

	--fy-surface: white;
	--fy-on-surface: black;
	--fy-on-surface-subtle: #1a1a1ab3;

	--fy-surface-box-shadow:
		0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);
	--fy-form-element-input-focus:
		rgba(50, 151, 211, 0.3) 0px 0px 0px 1px, rgba(0, 0, 0, 0.07) 0px 1px 1px 0px,
		rgba(50, 151, 211, 0.3) 0px 0px 0px 4px;
	--fy-form-element-input-error:
		0 0 0 1px #ef9896, 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);

	--fy-alert: red;
	--fy-on-alert: white;

	--fy-on-action-subtle: #e2e8ef;

	font-family: Inter;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root .adoreme-dark {
	// Default Theme
	--fy-primary: #550c46;
	--fy-primary-pay-button: var(--fy-primary);
	--fy-primary-pay-button-text: var(--fy-on-primary);
	--fy-on-primary: white;
	--fy-on-primary-subtle: hsl(0, 0%, 64%);

	--fy-action: #550c46;

	--fy-background: white;
	--fy-on-background: black;
	--fy-surface: white;
	--fy-on-surface: black;

	--fy-alert: red;
	--fy-on-alert: white;
}

:root .adoreme-light {
	// Default Theme
	--fy-primary: #faeeeb;
	--fy-primary-pay-button: var(--fy-primary);
	--fy-primary-pay-button-text: var(--fy-on-primary);
	--fy-on-primary: black;
	--fy-on-primary-subtle: #a2a2a2;

	--fy-background: white;
	--fy-on-background: black;
	--fy-surface: white;
	--fy-on-surface: black;

	--fy-alert: red;
	--fy-on-alert: white;
}

:root .red {
	// Default Theme
	--fy-primary: #a60000;
	--fy-primary-pay-button: var(--fy-primary);
	--fy-primary-pay-button-text: var(--fy-on-primary);
	--fy-on-primary: white;
	--fy-on-primary-subtle: #a2a2a2;

	--fy-background: white;
	--fy-on-background: black;
	--fy-surface: white;
	--fy-on-surface: black;

	--fy-alert: red;
	--fy-on-alert: white;
}
